### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle
build/
gradle

### Gradle Patch ###
**/build/

### IDE ###
# Intellij IDEA
.idea
