### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle
build/
gradle

### Gradle Patch ###
**/build/

### IDE ###
# Intellij IDEA
.idea

### Custom test files ###
# Apk files to test
testFiles

# CSV file with extracted parameters
result.csv

# Jar artifact
out

### Python files ###
# Virtual environment
venv

# Pycache
**/__pycache__/
